.button {
	position: relative;
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;
	height: rem(46);

	background-image: radial-gradient(90.6% 83.7% at 50% 16.3%, #0085ff 6.04%, #bd01ff 100%);

	border: 1px solid rgba(255, 199, 0, 0.69);
	box-shadow: 0px 4px 4px rgba(0, 87, 255, 0.27), inset 0px -6px 4px rgba(0, 163, 255, 0.26),
		inset 0px 4px 4px rgba(255, 247, 207, 0.65);
	border-radius: 11px;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	transition: all 0.3s ease 0s;

	&:active {
		transform: translateY(3px);
	}

	p {
		@include adaptiveValue("padding-inline", 27, 15, 800, 550, 1);
		@include adaptiveValue("font-size", 24, 18, 800, 550, 1);
		line-height: math.div(24, 20);
		letter-spacing: 0.05em;

		background-image: linear-gradient(180deg, #ffffff 0%, #1dc9ff 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		-webkit-text-stroke: 0.5px rgba(0, 224, 255, 0.28);
	}
	&_spin-1 {
		background-image: linear-gradient(180deg, #24ff00 0%, #02592a 100%);
		border: 1px solid #ffb800;
		box-shadow: 0px 4px 4px rgba(36, 255, 0, 0.27), inset 0px -6px 4px rgba(0, 255, 56, 0.26),
			inset 0px 4px 4px rgba(255, 247, 207, 0.65);
		p {
			background-image: linear-gradient(180deg, #ffd600 56.56%, #ff9800 59.69%, #ff7c1d 100%);
			-wekit-text-stroke: 1px rgba(255, 77, 0, 0.28);
		}
	}
	&_spin-2 {
		background-image: linear-gradient(180deg, #70ff00 0%, #008405 100%);
		border: 1px solid #ffb800;
		box-shadow: 0px 4px 4px rgba(36, 255, 0, 0.27), inset 0px -6px 4px rgba(0, 255, 56, 0.26),
			inset 0px 4px 4px rgba(255, 247, 207, 0.65);
		p {
			background-image: linear-gradient(180deg, #ffffff 0%, #73ff1d 100%);
			-wekit-text-stroke: 1px rgba(51, 255, 0, 0.28);
		}
	}
	&_auto-1 {
		p {
			background-image: linear-gradient(180deg, #f0b4ff 50%, #ff1ddb 100%);
			-wekit-text-stroke: 1px rgba(189, 0, 255, 0.28);
		}
	}
	&_auto-2 {
		background-image: linear-gradient(180deg, #70ff00 0%, #bd00ff 0.01%, #005484 100%);
		border: 1px solid #00a3ff;
		box-shadow: 0px 4px 4px rgba(36, 255, 0, 0.27), inset 0px -6px 4px rgba(0, 163, 255, 0.26),
			inset 0px 4px 4px rgba(255, 247, 207, 0.65);
		p {
			background-image: linear-gradient(180deg, #ffffff 0%, #1dc9ff 100%);
			-wekit-text-stroke: 1px rgba(0, 224, 255, 0.28);
		}
	}
	&._hold {
		opacity: 0.5;
		pointer-events: none;
	}
}
//========================================================================================================================================================
.preloader {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;

	width: 100%;
	min-height: 100vh;

	overflow: hidden;

	background-image: url("@img/other/bg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	transition: all 0.3s ease-out 0.1s;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(21, 19, 39, 0.71);
	}

	&__block-acces {
	}

	&__acces {
	}

	&__button-box {
		position: absolute;
		bottom: rem(15);
		right: rem(15);
		z-index: 5;
	}

	// .preloader__button

	&__button {
		position: relative;
		z-index: 3;
	}
	&._hide {
		top: -20%;
		opacity: 0;
		visibility: hidden;
	}
}
.acces-preloader {
	position: relative;
	z-index: 3;

	display: flex;
	flex-direction: column;
	max-height: 100vh;
	max-width: 70vw;
	padding-top: rem(30);
	padding-bottom: rem(100);
	padding-left: rem(20);

	overflow: auto;

	&._hide {
		display: none;
	}

	&__title {
		@include adaptiveValue("font-size", 36, 24, 800, 550, 1);
		line-height: math.div(44, 36);
		letter-spacing: 0.05em;

		background-image: linear-gradient(180deg, #ebff00 0%, #ffa800 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		padding-bottom: rem(16);
	}

	// .acces-preloader__text

	&__text {
		padding-bottom: rem(12);
	}

	&__link {
		color: #ebff00;
	}
}

.text-pre {
	@include adaptiveValue("font-size", 14, 12, 1200, 550, 1);
	line-height: math.div(17, 14);
	color: #ffffff;
	letter-spacing: 0.05em;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	&__title {
		text-transform: uppercase;
	}
}

.score {
	&._no-money {
		animation: no-money 0.7s ease 2;
	}
	&._delete-money {
		animation: delete-money 0.7s ease;
	}
	&._anim-add-money {
		animation: add-money 0.5s ease 3;
	}
}

.icon-anim {
	img {
		&._anim-icon-jump {
			animation: jump_icon 5s ease;
		}
		&._anim-icon-scale {
			animation: scale_icon 0.5s ease 2;
		}
		&._anim-icon-rotate {
			animation: rotate_icon 1.5s ease-out 1;
		}
		&._anim-icon-rotate-2 {
			animation: rotate_icon-2 1.5s ease 1;
		}
	}
}

.btn-bg {
	background: #092a50;
	border: 1px solid #ffb800;
	box-shadow: inset 0px 4px 3px rgba(32, 0, 65, 0.91);
	border-radius: 18.5px;
}

.text {
	background-image: linear-gradient(180deg, #ebff00 0%, #ffa800 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

	@include adaptiveValue("font-size", 20, 18, 800, 550, 1);
	line-height: math.div(24, 20);
	letter-spacing: 0.05em;
}
.text-game {
	p {
		@include adaptiveValue("font-size", 20, 16, 800, 550, 1);
		line-height: math.div(24, 20);
		letter-spacing: 0.05em;

		background-image: linear-gradient(180deg, #ebff00 0%, #ffa800 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		filter: drop-shadow(0px 4px 10px rgba(250, 255, 0, 0.62));
	}
}

//========================================================================================================================================================
